page-chamado-cliente {
    .button{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .ion-textarea{
        grid-auto-rows: auto;
    }

    .titulo{
        margin-bottom: 30px !important;
    }
}
