page-login {
    .button{
        margin-top: 20px;
    }

    .cadastro{
        background-color: #f1f2ff !important;
        color: rgb(255, 118, 118) !important;
        text-align: center;
    }

    
}
