<ion-content>
  <!--LOGIN-->
  <!--Background-->
  <div class="background" *ngIf="login" [@login]>
    <!--Overlay-->
    <div class="overlay">
      <!--Container-->
      <div>
        <!--logo-->
        <div class="center padding-top-80">
          <img src='/assets/imgs/logo-oslek.png' class="logo-oslek"/>
        </div>
      
        <!--Text-->
        <div class="mg-top-30">
          <!--Title-->
          <h5 class="snow center bold no-margin">Que bom te ver aqui!</h5>       
          <!--Subtitle-->
          <h5 class="snow center light no-margin mg-top-5">Entre com sua conta para continuar</h5>
        </div>

        <!--Formulário e CTA-->
        <div class="padding-40">
          <ion-item class="bg-transparent no-padding mg-top-30">
            <ion-label stacked class="snow bold">E-mail</ion-label>
            <ion-input [(ngModel)]="usuario.email" type="email" class="light snow"></ion-input>
          </ion-item>

          <ion-item class="bg-transparent no-padding mg-top-20">
            <ion-label stacked class="snow bold">Senha</ion-label>
            <ion-input [(ngModel)]="usuario.senha" type="password" class="light snow"></ion-input>
          </ion-item>

          <div class="cta center bold mg-top-50" (click)="goOpenSystem();">
            Entrar
          </div>

          <div class="txt-registrar bold center mg-top-50" (click)="exibirRegistrar();">
            Não tem cadastro? Clique aqui!    
          </div>
        </div>
      </div>
    </div>
  </div>

<!--////////////////////////////////////////////////////////////////////////////////-->

<!--REGISTRO-->
  <!--Background-->
  <div class="background" *ngIf="cadastro" [@registro]>
    <!--Overlay-->
    <div class="overlay">
      <!--Container-->
      <div>
        <!--logo-->
        <div class="center padding-top-40">
          <img src='/assets/imgs/logo-oslek.png' class="logo-oslek"/>
        </div>
      
        <!--Text-->
        <div class="mg-top-30">
          <!--Title-->
          <h5 class="snow center bold no-margin">Vamos lá!</h5>       
          <!--Subtitle-->
          <h5 class="snow center light no-margin mg-top-5">Crie suas credências de acesso</h5>
        </div>
 
        <!--Formulário e CTA-->
        <div class="padding-20">
          <ion-item class="bg-transparent no-padding mg-top-30">
            <ion-label stacked class="snow bold">Informe seu CPF</ion-label>
            <ion-input [(ngModel)]="usuario.cpf" [brmasker]="{mask:'000.000.000-00', len:14}" class="light snow" type="text" ></ion-input>
          </ion-item>

          <ion-item class="bg-transparent no-padding mg-top-20">
            <ion-label stacked class="snow bold">Informe seu nome</ion-label>
            <ion-input [(ngModel)]="usuario.nome" type="text" class="light snow"></ion-input>
          </ion-item>

          <ion-item class="bg-transparent no-padding mg-top-20">
            <ion-label stacked class="snow bold">Informe seu e-mail</ion-label>
            <ion-input [(ngModel)]="usuario.email" type="email" class="light snow"></ion-input>
          </ion-item>

          <ion-item class="bg-transparent no-padding mg-top-20">
            <ion-label stacked class="snow bold">Informe sua senha</ion-label>
            <ion-input [(ngModel)]="usuario.senha" type="password" class="light snow"></ion-input>
          </ion-item>

          <ion-item class="bg-transparent no-padding mg-top-20">
            <ion-label stacked class="snow bold">Informe sua senha novamente</ion-label>
            <ion-input [(ngModel)]="usuario.confirmarSenha" type="password" class="light snow"></ion-input>
          </ion-item>
        
          <ion-grid class="no-padding mg-top-20">
            <ion-row>
              <ion-col>
                <ion-label stacked class="snow bold">Sou Funcionário</ion-label>
              </ion-col>
              <ion-col>
                <ion-toggle class="ion-toggle-c padding-left-80" [(ngModel)]="usuario.tipo"></ion-toggle>         
              </ion-col>
            </ion-row>
          </ion-grid>

          <div class="cta center bold mg-top-50" (click)="cadastrarUsuario();">
            Fazer parte do nosso time
          </div>

          <div class="txt-registrar bold center mg-top-40" (click)="exibirLogin();">
            Já tenho uma conta!   
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>