<ion-content>

  <div class="background">
    <!--Overlay-->
    <div class="overlay">
      <!--Container-->
      <div>
        <!--logo-->
        <div class="center padding-top-40">
          <img src='/assets/imgs/logo-oslek.png' class="logo-oslek"/>
        </div>
      
        <!--Text-->
        <div class="mg-top-30">
          <!--Title-->
          <h5 class="snow center bold no-margin">Vamos trabalhar?</h5>       
          <!--Subtitle-->
          <h5 class="snow center light no-margin mg-top-10">Abaixo você poderá verificar os chamados abertos.</h5>
        </div>

        <div class="padding-20">
          <!--Aviso-->
          <div *ngIf="chamados.length == 0" class="mg-top-20">
            <p class="snow center light no-margin">Você ainda não possui um chamado.</p>
          </div>
          <!--Card & CTA-->
          <ion-card class="bg-transparent-parcial mg-top-20 center" *ngFor="let chamado of chamados" (click)="goChamadoDescricaoPage(chamado);">
            <ion-card-header class="snow center light no-margin">
              {{ chamado.titulo }} - {{ chamado.status }}
            </ion-card-header>

            <ion-card-content class="snow center light no-margin">      
              <ion-grid>
                <ion-row>
                  <ion-col col-6>
                    <strong>Usuario</strong>
                  </ion-col>  
                  <ion-col col-6>
                   {{ chamado.usuario.nome }}
                  </ion-col>
                </ion-row>
      
               <ion-row>
                  <ion-col col-6>
                    <strong>Setor</strong>
                  </ion-col>
                  <ion-col col-6>
                    {{ chamado.setor }} 
                  </ion-col>
                </ion-row>    
              </ion-grid>     
            </ion-card-content>
          </ion-card>
          
          <div class="cta center bold mg-top-50" (click)="logout();">
            Já chega por hoje!
          </div>
        </div>
      </div>
    </div>
  </div>   
</ion-content>
