//import FONT
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300&display=swap');
//FONT Global
*{
  font-family: 'Montserrat', sans-serif;
}
.ion-toggle-c {
  --handle-spacing: 0px;
  --handle-height: 100%;
}
//Background
.fixed-content{
  //width: 100%;
  //height: fit-content;
  background-image: url('/assets/imgs/bg-oslek.gif');
  background-size: cover;
  background-position: center;
}
//Overlay
.scroll-content{
  width: auto;
  height: auto;
  background: linear-gradient(to top,rgb(0,0,0),rgba(0, 0, 0, 0.900), rgba(0, 0, 0, 0.800), rgba(0, 0, 0, 0.716));
}
//Actions-Button
.cta{
  padding: 15px;
  background: $purple;
  border-radius: 100px;
  color: $snow;
}
.cta-alter{
  padding: 15px;
  background: $gray;
  border-radius: 100px;
  color: $purple;
}
//import COLORS
.purple{
  color: $purple;
}
.orange{
  color: $orange;
}
.dark{
  color: $dark;
}
.snow{
  color: $snow;
}
.gray{
  color: $gray;
}
//centralizar
.center{
  text-align: center;
}
//margem
.no-margin{
  margin: 0px;
}
.mg-top-5{
  margin-top: 5px;
}
.mg-top-10{
  margin-top: 10px;
}
.mg-top-20{
  margin-top: 20px;
}
.mg-top-30{
  margin-top: 30px;
}
.mg-top-40{
  margin-top: 40px;
}
.mg-top-50{
  margin-top: 50px;
}
.mg-top-60{
  margin-top: 60px;
}
//Padding
.padding-top-40{
  padding-top: 40px;
}
.padding-top-80{
  padding-top: 80px;
}
.padding-left-80{
  padding-left: 80px;
}
.padding-20{
  padding: 20px;
}
.padding-40{
  padding: 40px;
}
.no-padding{
  padding: 0px;
}
//border
.border-radius{
  border-radius: 20px;
}
//Font style
.bold{
  font-weight: 700;
}
.light{
  font-weight: 300;
}

//Modificando INPUT // ion-item
.bg-transparent{
  background: transparent;
}
.bg-transparent-parcial{
  background: linear-gradient(to top,rgba(255,255,255,0.200),rgba(255,255,255,0.300), rgba(255,255,255,0.250), rgba(255,255,255,0.200));
}
.bg-color{
  background: $purple;
}
//Modificando CARD // ion-item

